API_ID=30701903
API_HASH=157d440684a16ddd3bdec0c80f67c627
BOT_TOKEN=8365441234:AAF3fN6VSK13hHKr0Z3_Cy1YqE8vY8Wo1UI
LOGGER_ID=-1003710837582
GIT_TOKEN=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
MONGO_DB_URI=mongodb+srv://Toxicbots:TOXIC0000@cluster0.u5sllsx.mongodb.net/?appName=Cluster0
OWNER_ID=8238387029
STRING_SESSION=BQHUeU8AUWXMHX5iVZa22L_Wd0B-F4bbwKZXRhYg7-UQJXWDRDjVKBdp81NvOyThpt888ejNqZUTqQ0i37J23hMw7Uho_AtVIqUhUQp3MD2knXUBs_9pYUMkXQyNcWM7pnAiveQ4DEM9KeEEcljmIBXFrYTxWfpqIsQ0cMvMHcJ5-M3OuZZ33j2VTxX7UeaWIhPYLZBODn7PqDNxBF5Vk4pgNFk9KfWg-wCxwYesiYLH9GvRN67RQ7A47MfGbQWBLOps4SunItnmiVFpCp9aqBrPsZjxOe07p5-iiKXipUprCCbIjQG0h5nAn_FDq5gIW7CfqejoZJmukIuRT0DzNXLQSLngHwAAAAHuNQmzAA
